*{
    margin: 0px;
    padding: 0;
    font-family: 'Segoe UI';    
    
}

header{
    /* margin: 4px -60px; */
    /* margin-top: 200px; */
    
    /* margin: 2px -122px; */
    max-width: 100vw;
    margin: auto;
    
    padding: 10px;
    /* margin: 0px 16px; */
}

.logo img{
    height: 55px;
    /* margin-right: 222px; */
}

nav{
    /* margin: 12px; */
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 10px;
    gap: 200px;
    /* flex-direction: column; */
}

/* @media only screen and(max-width: 700px){
    nav{
       display: flexbox;
       flex-direction: column;
       justify-content: safe;
       align-items: center;
    }
} */

.box ul{
    display: flex;
    gap: 25px;
}

.box ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 80px;
    
    font: optional;
    font-variant: normal;
    cursor: pointer;
}

main{
    position: absolute;
    margin: 75px 0px;
}
.dowload p{
    text-align: center;
    font-size: 48px;
}

.bold{
    font-weight: bold;
}

.content{
    margin: 20px;
    padding: 25px;
}

.content p{
    font-size: 24px;
    text-align: center;
    margin: 0px 73px;
}

.version button{
    /* font-size: larger; */
    padding: 15px 22px;
    height: 50px;
    background-color: #00b6d1;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    border: 2px solid #00b6d1;
    margin-top: 0px;
}

.version{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    text-align: center;
}

.v2024{
    /* display: flex; */
    position: relative;
    margin-left: 120px;
    max-width: 60vw;
    place-items: center;
    margin: 60px 200px;
}

.due{
    padding-left: 20px;
    font-size: x-large;
    margin-bottom: 20px;
}

small{
    font-size: 12px;
}

.blocks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense;
    /* margin: 0px 200px; */
    /* position: absolute; */
    max-width: 60vw;
    margin: auto;
    /* grid-auto-rows: 3; */
    gap: 30px;
    /* grid-area: auto; */
}


@media only screen and (max-width: 1180px){
    body{
        flex-direction: column;
        text-align: center;
    }
    .blocks{
        /* grid-template-columns: 1fr; */
        display: inline-block;
        justify-content: center;
        /* position: absolute;
        margin: auto;
        text-align: center;
        align-items: center; */
    }
}

.item{
    height: 150px;
    width: 300px;
    background-color: rgb(250, 248, 245);
    display: block;
    text-align: center;
    border-radius: 5px;
}

.Download{
    height: 40px;
    width: 125px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
}

.Download a{
    text-decoration: none;
    color: black;
}

.lang{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    /* position: relative; */
}

.sublang{
    font-size: 12px;
    text-align: center;
    margin: 5px;
}

